<h1>Ivan the Terrible's Blog</h1>

<section class="blog">
  <%= render @posts %>
</section>

<br />
<%= will_paginate @posts, previous_label: h("<"), next_label: h(">") %>
<%= link_to 'New Post', new_post_path %>
